[submodule "public"]
	path = public
	url = git@github.com:mypalmike/mypalmike.github.io.git
	branch = master
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/mypalmike/hugo-theme-terminal.git
